# Project files
.env
__pycache__

# Research Papers
data/research-papers/*

# External files
data/external/

# PubChem CID-synonym mapping
data/resources/Pubchem-CID-Synonym-filtered

# Log files
logs/