# Project files
.env
__pycache__

# Research Papers
data/research-papers/ALD/pdf/Others*
data/research-papers/ALD/markdown/Others*
data/research-papers/ALE*
data/research-papers/ALD/markdown*
data/research-papers/ALD/pdf/ZnO-IGZO-papers/experimental-usecase/ZnO/*/*.pdf
data/research-papers/ALD/pdf/ZnO-IGZO-papers/experimental-usecase/IGZO/AtomicLimits Database/*/*.pdf
data/research-papers/ALD/pdf/ZnO-IGZO-papers/experimental-usecase/IGZO/Others/*.pdf

# External files
data/external/

# PubChem CID-synonym mapping
data/resources/Pubchem-CID-Synonym-filtered

# Log files
logs/

# Test results
results/extracted-data-test/